<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789905111169-es6c0s9oaa9qcv5jssalfma6ukhho70k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789905111169-es6c0s9oaa9qcv5jssalfma6ukhho70k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>789905111169-vbfagpo04de8fvkuqncudt0cj3rr7p9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSrAryI0cRKIx3OrGZL0kYzeUzAgzVR3c</string>
	<key>GCM_SENDER_ID</key>
	<string>789905111169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradoAppUit</string>
	<key>PROJECT_ID</key>
	<string>tradoapp-e1100</string>
	<key>STORAGE_BUCKET</key>
	<string>tradoapp-e1100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789905111169:ios:1f4e0185bbc67f8ff93580</string>
</dict>
</plist>